{{> header}}

<div class="petition-alt">
    <p>Many thanks to the people from <span>{{city}}</span> who support our cause!</p>

    <div class="signers">

    {{#each signers}}

    {{#if this.url}}

    <p class="capitalize"><a class="plain-link" href="{{this.url}}">{{this.first}} {{this.last}}</a> {{this.age}}</p>

    {{else}}

    <p class="capitalize">{{this.first}} {{this.last}} {{this.age}}</p>

    {{/if}}

    {{/each}}

    <div class="signers">
</div>
