{{> header}}

<div class="petition-alt">
    <form method="POST">
        <input class="capitalize" type="text" name="first" value="{{first}}">
        <p class="profile-info">Your first name</p>
        <input class="capitalize" type="text" name="last" value="{{last}}" placeholder="Your last name">
        <p class="profile-info">Your last name</p>
        <input type="text" name="email" value="{{email}}">
        <p class="profile-info">Your email address</p>
        <input type="password" name="password" placeholder="*******">
        <p class="profile-info">Your password</p>
        <input type="text" name="age" value="{{age}}">
        <p class="profile-info">Your age</p>
        <input class="capitalize" type="text" name="city" value="{{city}}">
        <p class="profile-info">Your city</p>
        <input type="text" name="url" value="{{url}}">
        <p class="profile-info">Your homepage</p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>Update your profile</button>
    </form>

    <form action="/profile/delete" method="POST">
        <button name="delete-signature">Delete your profile</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
