{{> header}}

<div class="petition-alt">
    <p>Thanks to all who signed our petition. We hope that every supermarket in Germany will soon guarantee easy checkouts for their customers!</p>

    <div class="signers">

        {{#each signers}}

        {{#if this.url}}

        <p class="capitalize"><a class="plain-link" href="{{this.url}}">{{this.first}} {{this.last}}</a> {{this.age}} <a class="plain-link" href="/petition/signers/{{this.city}}">{{this.city}}</a></p>

        {{else}}

        <p class="capitalize">{{this.first}} {{this.last}} {{this.age}} <a class="plain-link" href="/petition/signers/{{this.city}}">{{this.city}}</a></p>

        {{/if}}

        {{/each}}
    </div>

</div>
