{{> header}}

<img id="tall-guy-signers" src="/the-tall-guy.jpg" alt="The Tall Guy">

<div class="thanks-text">
    <p>Concerts are better without The Tall Guy! Here is the list of people who already signed the petition for Tall-Guy-free shows:</p>

    <div id="signers">

        {{#each signers}}

        {{#if this.url}}

        <p><a href="{{this.url}}">{{this.first}} {{this.last}}</a> {{this.age}} <a href="/petition/signers/{{this.city}}">{{this.city}}</a></p>

        {{else}}

        <p>{{this.first}} {{this.last}} {{this.age}} <a href="/petition/signers/{{this.city}}">{{this.city}}</a></p>

        {{/if}}

        {{/each}}
    </div>
    
</div>
